// =============================================================================
// Guss grid system
// =============================================================================

// gs- prefix stand for Grid System

/**
 * Gutter width.
 * 
 * @type Number
 */
$gs-gutter:       20px !default;

/**
 * Baseline size.
 * 
 * @type Number
 */
$gs-baseline:     12px !default;

/**
 * Column width.
 * 
 * @type Number
 */
$gs-column-width: 60px !default;

/**
 * Row height.
 * 
 * @type Number
 */
$gs-row-height:   36px !default;

/**
 * Number of columns
 * 
 * @type Number
 */
$gs-max-columns:  16 !default;


// Helpers
// =============================================================================

/**
 * Grid span
 *
 * @param {Number} $n-columns
 *
 * @requires {variable} gs-column-width
 * @requires {variable} gs-gutter
 *
 * @return {Number}
 */
@function gs-span($n-columns) {
    @return $n-columns * $gs-column-width + $gs-gutter * ($n-columns - 1);
}

/**
 * Grid height.
 *
 * @param {Number} $n-rows
 *
 * @requires {variable} gs-row-height
 * @requires {variable} gs-baseline
 *
 * @return {Number}
 */
@function gs-height($n-rows) {
    @return $n-rows * $gs-row-height + $gs-baseline * ($n-rows - 1);
}

/**
 * Grid container.
 * Snap up to `$gs-max-columns` columns on wider viewports.
 *
 * @requires {mixin} rem
 * @requires {mixin} mq
 * @requires {function} gs-span
 * @requires {variable} gs-gutter
 */
@mixin gs-container {
    position: relative;
    margin: 0 auto;

    @include rem((
        max-width: gs-span(14) + $gs-gutter * 2
    ));

    @include mq(wide) {
        @include rem((
            max-width: gs-span($gs-max-columns) + $gs-gutter * 2
        ));
    }
}

/**
 * Grid helpers.
 * Classes usable if an object has the same width across all viewports.
 *
 * @example markup
 * <div class="gs-span-3"></div>
 *
 * @requires {variable} gs-max-columns
 * @requires {function} gs-span
 * @requires {mixin} rem
 */
@mixin gs-helpers {
    @for $n from 1 through $gs-max-columns {
        .gs-span-#{$n} {
            @include rem((
                width: gs-span($n)
            ));
        }
    }
}


// Output grid system helper classes
// =============================================================================

/**
 * Grid system
 *
 * @requires {mixin} gs-container
 */
@mixin grid-system {
    .gs-container {
        @include gs-container;
    }
}
